/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    max-height: 600px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid $secondary-brand-color;
}

/**
 * Figures
 */
figure > img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: $secondary-brand-color;
        text-decoration: none;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: $background-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Dropdown button and menu
 */
button {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    font-weight: 400;
}

.dropdown-button {
    background-color: $background-color;
    color: $secondary-brand-color;
    padding: 10px 20px 10px 0;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darken($background-color, 10%);
    padding: 0 16px;
    z-index: 1;
}

.show {display:block;}


/**
 * Search bar
 */
.search-bar {
    display: inline-block;
    background-color: $background-color;
    text-color: $secondary-brand-color;
    border: none;
}

input[type=text] {
    background-color: $background-color;
    color: $text-color;
    border: none;
    font-size: $base-font-size;
    font-weight: 400;
    font-family: inherit;
    line-height: $base-line-height;
    width: 200px;
}

::placeholder {
    color: $secondary-brand-color;
    opacity: 1;
}

/**
 * Tipue search specifics
 */

.tipue_search_content_text, .tipue_search_related_title
{
    line-height: $base-line-height
}
.tipue_search_content_bold, .tipue_search_related_bold
{
      font-weight: 400;
      color: $secondary-brand-color;
}

.tipue_search_content_url
{
    display: none;
}

.tipue_search_spinner
{
    display: none;
}

